<h1 class="title-time-range-slider">
  <span>Hello My Custom TimeRangeSlider</span>
</h1>

<section style="width: 100%; overflow-x: scroll;">
  <app-time-line style="width: 100%;"
    [startHour]="9"
    [endHour]="10"
    [interval]="5"
    [timeRanges]="[{ startTime: '09:15', endTime: '09:30' },{ startTime: '09:40', endTime: '09:50' }]"
  >
  </app-time-line>
</section>

<section style="margin-top: 100px; position: relative;">
  <app-ngx-time-slider></app-ngx-time-slider>
</section>











