<h1 class="title-time-range-slider">
  <span class="title-range-slider">Hello My Custom TimeRangeSlider</span>
</h1>

<section style="padding: 20px">
  <app-line-slider></app-line-slider>

  <app-time-line
    [startHour]="4"
    [endHour]="24"
    [interval]="5"
    [timeRanges]="[
    { startTime: '4:05', endTime: '4:20' },
    { startTime: '4:35', endTime: '4:50' },
    { startTime: '7:35', endTime: '7:50' },
    { startTime: '23:35', endTime: '23:50' }
    ]"
  >
  </app-time-line>
</section>

<!-- { startTime: '08:05', endTime: '08:15' },
{ startTime: '08:20', endTime: '08:32' } -->

<!-- { startTime: '15:05', endTime: '15:15' },
{ startTime: '15:20', endTime: '15:32' } -->

<!-- { startTime: '15:05', endTime: '15:15' },
{ startTime: '15:20', endTime: '15:32' },
{ startTime: '15:40', endTime: '15:55' }, -->
